@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto';
  color: black;
  background-color: rgba(255,239,224);
  line-height: 1.4;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1.2vw;
}

#background{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0rem;
    left: 0rem;
    z-index: -1;
    background-size: cover;
    border: none;
}

.stretch{
  width: 100%;
  height: 100%;
}

/* HEADER AND NAV BAR SECTION*/

header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 1.25rem;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15,53,97, 0.9);
    z-index:5;
  }

  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .nav-link:hover{
    text-decoration: underline;
    font-weight: bold;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem white);
  }

h1{
  font-size: 2.3vw;
  color: white;
  font-weight: 200;
}

h2 {
  font-size: 1.5vw;
  color: white;
  font-weight: 200;
}

/*Build Your Next Vacation*/

h3 {
    font-size: 64px;
    color: white;
    text-align: center;
    padding-top: 16rem;
    padding-bottom: 0.7rem;
    display: block;
    text-decoration: none;
}

/*GRID SECTION*/

#package-layout {
  background: var(--medium);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-areas: "budget standard premium";
  gap: 15.25vw;
}

.packages {
  background: rgb(255,255,255, 0.85);
  padding: 1rem;
  padding-top: 1.9rem;
  border-radius: 1rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  overflow: hidden;
}

.packages:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
  box-shadow: 0px 3px 3px black;
  background: rgb(255,255,255, 0.93)
}

#budget:hover {
  box-shadow: -2px 3px 2px black;
}

#premium:hover {
  box-shadow: 2px 3px 2px black;
}

/*shine effect*/

.packages::before {
  position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.packages:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*end shine effect*/

h4 {
  font-size: 32px;
  color: black;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1.9rem;
}

.text {
  font-size: 16px;
  color: #000;
}

a {
    text-decoration: none;
}

/*FONT AWESOME IMAGE*/

.package-icons {
    font-size: 2.5rem;
    color: black;
}

/*VIDEO*/

#video-reference {
  grid-area: auto;
  display: flex;
  justify-content: center;
}

#video {
  border: none;
  margin-bottom: 7rem;
  margin-top: 10rem;
  width: 47.5rem;
  height: 26.7rem;
  border-radius: 1rem;
}

/*SUBSCRIPTION*/


#textarea-label {
  text-align: center;
  font-size: 2rem;
}


#textarea-text {
  text-align: center;
  font-size: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  width: 20%;
  padding: 0.75rem;
  background: white;
  margin-right: 0rem;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.submit {
  width: 6rem;
  padding: 0.75rem;
  background: rgb(15,53,97);
  color: white;
  cursor: pointer;
  margin-left: 0rem;
  border: none;
  font-size: 1rem;
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.submit:hover {
  opacity: 0.7;
}

/*FOOTER*/

footer {
  background: rgb(15,53,97);
  color: white;
  margin-top: 5rem;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.footer-icons {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 2rem;
  padding-bottom: .2rem;
}

#fb:hover {
  opacity: 0.7;
  transform: scale(1.3);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#insta:hover {
  opacity: 0.7;
  transform: scale(1.3);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#twitter:hover {
  opacity: 0.7;
  transform: scale(1.3);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#youtube-icon:hover {
  opacity: 0.7;
  transform: scale(1.3);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

#phone {
  font-size: 1.8rem;
}

#phone:hover {
  opacity: 0.7;
  transform: scale(1.3);
  -webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

/*MEDIA RESPONSIVE DESIGN*/

@media(max-width: 1300px) {
  #package-layout {
    gap: 10vw;
  }
}

@media(max-width: 1100px) {

  h2 {
    font-size: 1.1rem;
  }


  #package-layout {
    gap: 4vw;
  }
}

@media(max-width: 900px) {

  #package-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .packages {
    width: 40%;
  }

  #budget:hover {
    box-shadow: 0px 2px 2px black;
  }

  #standard:hover {
    box-shadow: 0px 2px 2px black;
  }
  
  #premium:hover {
    box-shadow: 0px 2px 2px black;
  }

  h1 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 3rem;
  }

  .email {
    width: 200px;
  }

}